[user]
	name = Michael
	email = 80940180+michael-freling@users.noreply.github.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = code
